[genuitec-file-id="wc1-12"],[genuitec-lp-path="/weChat/WebRoot/static/content/content.css"],[genuitec-lp-enabled=true]{
  /* for codelive */
}

@CHARSET "UTF-8";
html,
body {
	margin: 0px;
	background-color: #f0eff5;
	font-family: "MicrosoftYaHei";
	text-align: justify;
	text-justify: inter-ideograph;
}

.content {
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 65px;
}

.grayscale {
	/**  格式，filer: grayscale(效果范围)
		 *  效果范围，取值范围为0-1或0-100%；0表示无效果，1或100%表示最大效果
		 */
	-webkit-filter: grayscale(90%) opacity(50%);
	-o-filter: grayscale(90%) opacity(50%);
	-moz-filter: grayscale(90%) opacity(50%);
	-ms-filter: grayscale(90%) opacity(50%);
	filter: grayscale(90%) opacity(50%);
}

.bottom-fxied a,
a:hover,
a:focus {
	text-decoration: none;
}

.afresh_login {
	color: rgb(78, 144, 255);
	text-decoration: underline;
}

.btn-success {
	color: #fff;
	background-color: #1bac1e;
	border-color: #1bac1e;
}

.svg_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	pointer-events: none;
}

.icon_lg {
	z-index: 2px;
	display: block;
	margin: 0 auto 3px;
	overflow: hidden;
}


/* 加载动画 */

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.dropload-load .loading {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	margin: 6px;
	border: 2px solid #666;
	border-bottom-color: transparent;
	vertical-align: middle;
	-webkit-animation: rotate 0.75s linear infinite;
	animation: rotate 0.75s linear infinite;
}

.row_col_t {
	background: ghostwhite;
}

.t_padding {
	margin-left: 12px;
}
