[genuitec-file-id="wc1-11"],[genuitec-lp-path="/weChat/WebRoot/static/attendance/style.css"],[genuitec-lp-enabled=true]{
  /* for codelive */
}

.top_div {
	width: 95%;
	background-color: #FFFFFF;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px;
}

.font_color {
	color: #34b64a;
	font-weight: bold;
}

.margin-t-4 {
	margin-top: 4rem;
}

.recent_div, .barinfo_div{
	width: 95%;
	font-size: 16px;
	height: 194px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.recent_div {
	height: 310px;
}

.row_col {
	border-bottom: 0.1rem solid #eee;
	line-height: 32px;
	display: block;
}

.row_col_no {
	line-height: 32px;
	display: block;
}